.nav-bar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  z-index: 5;

  div.items-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: space-between;

    a.active > button{    
      color: white;  
    }

    a.logout{    
      flex: 5 1 auto;
      pointer-events:none; 
      cursor: default;

      button {        
        float: right;
        color: white;  
      }
    }

    a {
      flex: 0 1 auto;
      text-decoration: none;
      display: block;

      button {
        display: block;
        color: #9b9b9b;
        border: none;
        background: none; 
        text-align: center;
        padding: 14px 16px;
        pointer-events:all; 
      }
    
      button:hover {
        background-color: #111;
      } 

    }
  }  

 

  
}